.block-to-inline {
  display: inline;
}

.btn-xs {
  margin: 0 0 10px 10px;
}

.footer{
  position: relative;
  bottom: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
}

/************  Depts/Home Page! */
.this-department{
  text-align: center;
  width: 40%;
  display: inline-block;
  margin: 0 3.5%;
}

/************  Department Page! */
.this-lot{
  text-align: center;
  display: inline-block;
  width: 25%;
  margin: 0 3.5%;
}

.this-lot img {
  max-height: 200px;
  max-width: 200px;
}

/************  Lot Summary Page! */
.this-item {
  text-align: center;
  width: 23.5%;
  /*border: 1px solid #ccc;*/
  display: inline-block;
}

.this-item img {
  max-height: 100px;
  max-width: 100px;
}

/************ Specific Item Page */
.item-detail {
  padding-left: 3%;
}

.item-image {
  float: right;
  padding-right: 5%;
  min-width: 540px; /*use media-queries to make mobile-friendly!*/
}
