<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav"> <h1>A&B's Fabulous Auction Catalogue of Wonder</h1>
      <li>{{#link-to ''}}Lots{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}
</div>
