{{outlet}}

<h2 class="block-to-inline">Departments</h2>
{{#link-to 'new-department'}}
  <button class="btn btn-xs btn-info">Add new?</button>
{{/link-to}}
<hr />


{{#each}}
  <div class="this-department">
    <img {{bind-attr src=imageURL}}>
    <h5>{{title}}</h5>
  </div>
{{/each}}
