<form>
  <div class="form-group">
    <label for="depTitle">The name of this department:</label>
    {{input type="text" id="depTitle" value=depTitle class="form-control" required="true"}}
  </div>

  <div class="form-group">
    <label for="depImage">The quintessential image to represent this department:</label>
    {{input type="file" id="depImage" value=depImage class="form-control"}}
  </div>

  <button class="btn btn-primary" {{action "save"}}>Add Department</button>
</form>
<br />
